<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="citaForm">
    <ion-item>
      <ion-label position="floating">Frase</ion-label>
      <ion-input formControlName="frase"></ion-input>
    </ion-item>
    <!-- Mostrar error de frase -->
    <ion-text color="danger" *ngIf="citaForm.get('frase')?.touched && citaForm.get('frase')?.invalid">
      <small *ngIf="citaForm.get('frase')?.errors?.['required']">
        La frase es obligatoria.
      </small>
      <small *ngIf="citaForm.get('frase')?.errors?.['minlength']">
        La frase debe tener al menos 5 caracteres.
      </small>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input formControlName="autor"></ion-input>
    </ion-item>
    <!-- Mostrar error de autor -->
    <ion-text color="danger" *ngIf="citaForm.get('autor')?.touched && citaForm.get('autor')?.invalid">
      <small *ngIf="citaForm.get('autor')?.errors?.['required']">
        El autor es obligatorio.
      </small>
      <small *ngIf="citaForm.get('autor')?.errors?.['minlength']">
        El autor debe tener al menos 2 caracteres.
      </small>
    </ion-text>

    <ion-button expand="block" (click)="agregarCita()" [disabled]="citaForm.invalid">
      Agregar
    </ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let cita of citas">
      <ion-label>
        "{{ cita.frase }}"
        <p>- {{ cita.autor }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" color="danger" (click)="eliminarCita(cita)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
